* {
    
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
main, nav, header, footer, section, article, aside{
    display: block;
}

body{
    width: 100%;
    margin: auto;
    background-color: lightgrey;

}

header{
    
    background-color: limegreen;
    color: white;
    height: 90px;

}
/*Header*/


/*navigation*/
nav{
    
    background-color: green;
    color: white;

    width: 100%;
    height: auto;
}



li{
    display: inline;
    font-size: 20px;
    padding: 0 39.8px;
    
}

/*Dropdown Menu*/
li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
}

.dropdown-content a {
    padding: 10px;
    display: block;
}

.dropdown-content a:hover {
    background-color: whitesmoke;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*index*/
.container{
    width: 700px;
    margin: 0 auto;
}

/*OrgStructure*/

.org-container{
    width: 1000px;
    margin: 0 auto;
}
#org img{
    height: 100%;
    width: 100%;
}

#org1 img {
    height: 100%;
    width: 100%;
}

/*Gallery*/

.gal-container{
    width: 300px;
    margin: 0 auto;
    
}

#bh img{
    height: 100%;
    width: 100%;
}

#bpark img{
    height: 100%;
    width: 100%;
}

#district img{
    height: 100%;
    width: 100%;   
}

#garden img{
    height: 100%;
    width: 100%;
}

/*Vison Mission*/

#wrapper h2{
    font-size: 40px;
}